/* Your existing styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #fff;
    height: 750vh;
}
div {
  display: block;
}

#intro-section, .project-section, #contact-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative
}
#name {
  opacity: 0;
}

#project1, #project2, #contact-section {
  opacity: 0;
}
#project1 {
  top: 100vh;
}

#project2 {
  top: 200vh;
}

#contact-section {
  top: 300vh;
}

#name {
    font-size: 5em;
    text-align: center;
    color: #ffcc00;
}

#scroll-button {
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 12px;
    cursor: pointer;
    color: #fff;
}

.project-section {
    flex-direction: row;
    gap: 16px;
    padding: 20px;
}

.project-image img {
    max-width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}

.project-description {
    text-align: left;
}

#contact-text {
    font-size: 3em;
    color: #ffcc00;
}

/* Lax.js specific styles */


::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}

::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}

::selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
}

.oooh, .aaah {
    font-size: 150px;
    left: 0;
    top: 140vh;
}

.wheee {
    top: 400vh;
    font-size: 5em;
    text-align: center;
    color: #ffcc00;
}
